@keyframes options-trans {
  0% {
    opacity: 0;
    top: 1em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.option {
  composes: haskellQuestButton from '../shared.css';
  width: 100%;
  padding: var(--global-text-padding);
  margin: 1em;
  border-width: 0.2em;
}

.option:hover {
  background-color: var(--global-fg-dark);
}

.options {
  max-width: 80%;
  margin: 1em auto;
  clear: both;
  display: -webkit-flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  animation-name: options-trans;
  animation-duration: 0.5s;
  animation-fill-mode: both;

  /* animation-timing-function: ease-in-out; */
}
